.wrapper__mobile-navbar {
  display: block;
  width: 100%;
  position: fixed;
  height: 96px;
  bottom: 0;
  border: var(--border);
  border-radius: 14px 14px 0 0;
  background: #fff;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  z-index: 999;
  transition: all 0.5s ease;
}

.menu-item-list__mobile-navbar {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
  background: #ffffff;
}

.right__mobile-navbar {
  justify-self: self-end;
  white-space: nowrap;
}

.center__mobile-navbar {
  justify-self: center;
}

.left__mobile-navbar {
  justify-self: self-start;
}
.burger-icon__mobile-navbar {
  margin-top: -8px;
}

.open__mobile-navbar {
  height: 190px;
}

.hidden-links-wrapper__mobile-navbar {
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 20px;
  font-weight: 200;
}
.link-standart__mobile-navba {
  text-decoration: none;
  color: black;
}

.router-link-active {
  font-weight: 400;
}
