<div class="wrapper__mobile-navbar">
  <ul class="menu-item-list__mobile-navbar">
    <li class="menu-item__mobile-navbar">
      <a [routerLink]="'/products'">
        <img
          [src]="
            currentRoute === '/products'
              ? '/assets/svg/current-products-icon.svg'
              : '/assets/svg/products-icon.svg'
          "
          alt="products link"
          height="38px"
        />
      </a>
    </li>
    <li class="menu-item__mobile-navbar">
      <a [routerLink]="'/about'">
        <img
          [src]="
            currentRoute === '/about'
              ? '/assets/svg/current-about-us-icon.svg'
              : '/assets/svg/about-us-icon.svg'
          "
          alt="home link"
          height="38px"
        />
      </a>
    </li>
    <li class="menu-item__mobile-navbar">
      <a [routerLink]="''">
        <img
          width="38px"
          [src]="
            currentRoute === '/'
              ? '/assets/svg/current-home-icon.svg'
              : '/assets/svg/home-icon.svg'
          "
          alt="logo"
        />
      </a>
    </li>
    <li class="menu-item__mobile-navbar">
      <app-auth-icon></app-auth-icon>
    </li>
    <li class="menu-item__mobile-navbar">
      <app-basket-icon></app-basket-icon>
    </li>
  </ul>
</div>
