<div
  class="wrapper__mobile-navbar"
  [ngClass]="{ 'open__mobile-navbar': isOpen() }"
>
  @if(isOpen()){
  <ul
    class="hidden-links-wrapper__mobile-navbar"
    [ngClass]="{ open: isOpen() }"
  >
    <li class="left__mobile-navbar" (click)="setOpen(false)">
      <a
        (click)="setIsLogout(false)"
        class="link-standart__mobile-navba"
        [routerLink]="['products']"
        routerLinkActive="router-link-active"
      >
        Товары
      </a>
    </li>
    <li class="center__mobile-navbar" (click)="setOpen(false)">
      <a
        (click)="setIsLogout(false)"
        class="link-standart__mobile-navba"
        [routerLink]="['orders']"
        routerLinkActive="router-link-active"
      >
        Заказы
      </a>
    </li>
    <li class="right__mobile-navbar" (click)="setOpen(false)">
      <a
        (click)="setIsLogout(false)"
        class="link-standart__mobile-navba"
        [routerLink]="['about']"
        routerLinkActive="router-link-active"
      >
        О нас
      </a>
    </li>
  </ul>
  }
  <div class="main__mobile-navbar">
    <ul class="menu-item-list__mobile-navbar">
      <li
        class="left__mobile-navbar"
        (click)="setIsLogout(true)"
        (click)="setOpen(false)"
      >
        <app-auth-icon [isLogout]="isLogout"></app-auth-icon>
      </li>
      <li
        class="burger-icon__mobile-navbar center__mobile-navbar"
        (click)="setOpen(true)"
      >
        <img width="80px" src="assets/svg/burger.svg" alt="burger.svg" />
      </li>

      <li
        class="right__mobile-navbar"
        (click)="setIsLogout(false)"
        (click)="setOpen(false)"
      >
        <app-basket-icon></app-basket-icon>
      </li>
    </ul>
  </div>
</div>
