.wrapper__mobile-navbar {
  display: block;
  width: 100%;
  position: fixed;
  height: 68px;
  bottom: 0;
  border: var(--border);
  border-radius: 14px 14px 0 0;
  background: #fff;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  z-index: 9999;
  transition: all 0.5s ease;
}

.menu-item-list__mobile-navbar {
  display: grid;
  list-style: none;
  grid-template-columns: 38px 38px 60px 38px 38px;
  justify-content: center;
  align-items: center;
  gap: clamp(20px, 8vw, 50px);
  padding: 6px;
  background: #ffffff;
}
