@use "fonts";

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --light-yellow-color: #fff7e3;
  --light-grey-color: #f8f8f8;
  --grey-color: #5f646d;
  --yellow-color: #ffb813;
  --red-color: #ff2b2b;
  --dark-red-color: #cd5c5e;
  --green-color: #85cd92;
  --border: 1px solid var(--grey-color);
  --dark-yellow-color: #e5a600;
}

*,
*:before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  height: 100dvh;
  font-family: "Roboto";
  font-weight: 200;
}

@media (max-width: 460px) {
  body {
    height: 100vh;
    touch-action: manipulation;
    overflow-x: hidden;
  }
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 2px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.custom-checkbox2 span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.custom-checkbox span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.custom-checkbox2 span::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.custom-checkbox input:checked + span::before {
  background: var(--yellow-color); /* Желтая заливка */
}

html {
  filter: none !important;
  -webkit-filter: none !important;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
  touch-action: none;
}

@media (forced-colors: active) {
  * {
    forced-color-adjust: none;
  }
}

a {
  color: black;
}

a:before {
  color: black;
}

* {
  -webkit-tap-highlight-color: transparent; /* Отключает синий фон */
  outline: none; /* Убирает контуры при фокусе */
}

img,
div {
  touch-action: manipulation; /* Убирает задержку клика и лишнее выделение */
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: max-content;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0; /* Скрываем стандартный select */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}

.select-custom {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px 30px 5px 10px; /* Оставляем место для стрелки */
  border-radius: 4px;
  background: white;
  position: relative;
}

.select-custom::after {
  content: "▼"; /* Кастомная стрелка */
  font-size: 14px;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}
