@if (user()?._id) {
<div class="user-icon-with-info__standart-header">
  <img
    width="58px"
    [src]="
      isLogout
        ? 'assets/svg/current-logout-icon.svg'
        : 'assets/svg/logout-icon.svg'
    "
    alt="icon auth"
  />
  @if(isLogout){
  <button (click)="logout()" class="user-info__standart-icon logout-btn">
    Выйти
  </button>
  }@else {
  <div class="user-info__standart-icon">
    {{ user()?.name ? user()?.name : user()?.email?.slice(0, 10) + "..." }}
  </div>
  }
</div>
}@else{
<a
  class="link-standart__header"
  [routerLink]="['auth']"
  routerLinkActive="router-link-active"
>
  <img
    width="58px"
    [src]="
      currentRoute === '/auth'
        ? 'assets/svg/current-auth-icon.svg'
        : 'assets/svg/auth-icon.svg'
    "
    alt="icon auth"
  />
</a>

}
