.user-icon-with-info__standart-header {
  font-size: 14px;
  position: relative;
  cursor: pointer;
  width: max-content;
}

.user-info__standart-icon {
  font-size: 10px;
  margin-left: -5px;
}

.image__auth-icon {
  width: 58px;
}

.logout-btn {
  align-items: center;
  cursor: pointer;
  border: none;
  margin-top: 23px;
  position: absolute;
  font-size: 12px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 25px;
  width: 100px;
  top: 60px;
  height: 25px;
  background: #fde5a5;

  &:hover {
    background: var(--yellow-color);
  }
}

@media (max-width: 460px) {
  .logout-btn {
    margin-top: 12px;
    height: 20px;
    width: 80px;
  }

  .image__auth-icon {
    width: 38px;
  }
}
