<div class="main-container">
  <div class="text-main-page-wrapper">
    <div class="text-main-page">
      <div class="title-text">
        Чистый, органический мёд — прямо из улья к вашему дому
      </div>
      <div class="list-wrapper">
        <ul class="custom-list">
          <li>Нефильтрованный</li>
          <li>Натуральный</li>
          <li>Вкусный</li>
        </ul>
      </div>
    </div>
    <div class="active-btns mt-40">
      <a class="action-btn" (click)="navigateToProducts()">Купить сейчас</a>
      <a class="action-second-btn">Узнать о нас</a>
    </div>
  </div>
</div>

<div class="main-page-image-wrapper">
  <img
    width="520px"
    src="assets/images/honey-jar.png"
    alt="Honey jar picture"
    class="main-page-image mt-50"
  />
</div>

<div class="main-page-ellipses">
  <img class="ellips-first" src="assets/images/ellips-big.png" alt="" />
  <img class="ellips-second" src="assets/images/ellips.png" alt="" />
</div>
