<div class=""></div>
<div #targetElement class="container__footer">
  <div class="img-logo__footer">
    <img
      class="img__footer"
      src="/assets/svg/logo.svg"
      alt="logo"
      width="60px"
    />
    <div class="title__footer">ВКУС МЁДА</div>
  </div>
  <div class="contacts__footer">
    <ul class="contacts-list__footer">
      <div class="list-title__footer">Наши контакты</div>
      <li class="contacts-list-item__footer">
        <img
          class="icon-link__footer"
          src="/assets/svg/phone-icon.svg"
          alt="logo"
          width="27px"
        />
        <span class="title__footer">
          <a class="telephone-number" href="tel:+79185330073"
            >+7(918)533-00-73</a
          >
        </span>
      </li>
      <li class="contacts-list-item__footer">
        <img
          class="icon-link__footer"
          src="/assets/svg/mail-icon.svg"
          alt="logo"
          width="27px"
        />
        <span class="title__footer">
          <a class="email-link" href="mailto:example@email.com"
            >nikita.deki4&#64;gmail.com</a
          >
        </span>
      </li>
      <li class="contacts-list-item__footer">
        <img
          class="icon-link__footer"
          src="/assets/svg/telegram.svg"
          alt="logo"
          width="27px"
        />
        <span class="title__footer">
          <a class="telegram-link" href="https://t.me/nikkk_deg"
            >&#64;nikkk_deg</a
          >
        </span>
      </li>
    </ul>
  </div>
  <div class="address__footer">
    <div class="address-title__footer">Наш адрес</div>
    <div class="address-caption__footer">
      г . Ростов-на-Дону ул . 5-я Кольцевая д . 17
    </div>
  </div>
</div>
<div class=""></div>
