.buy-btn__product-card {
  border: none;
  background-color: var(--yellow-color);
  width: 96px;
  height: 28px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 300;
  margin-right: 1px;
  cursor: pointer;
}

.title-in-basket__add-to-basket {
  white-space: nowrap;
}

.product-in-basket_add-to-basket {
  width: 95px;
  height: 27px;
  font-size: 10px;
  font-weight: 200;
  border: var(--border);
  border-radius: 13px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.product-count-in-basket__add-to-basket {
  font-weight: 200;
  font-size: 16px;
}

.buy-btn__product-card:hover {
  background-color: #e5a600;
}
.buy-title__product-card {
  margin-top: -3px;
}

.to-basket__product-card {
  text-decoration: none;
  border-radius: 32px;

  width: 96px;
  height: 28px;
  display: grid;
  background: #ddd;
  color: black;
  align-items: center;
  justify-content: center;
  border: none;

  &:hover {
    color: #fff;
    background: var(--grey-color);
  }
}

//big

.big-buy-btn__product-card {
  border: none;
  background-color: var(--yellow-color);
  width: 244px;
  height: 52px;
  border-radius: 32px;
  font-size: 24px;
  margin-right: 1px;
  cursor: pointer;
}

.big-buy-title__product-card {
  font-weight: 200;
}

.big-product-in-basket_add-to-basket {
  width: 244px;
  height: 52px;
  font-size: 10px;
  font-weight: 200;
  border: var(--border);
  border-radius: 32px;
  display: grid;

  grid-template-columns: 1fr 38px max-content 38px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
}

.title-big-in-basket__add-to-basket {
  font-weight: 100;
  font-size: 24px;
  white-space: nowrap;
}

.big-product-count-in-basket__add-to-basket {
  font-weight: 100;
  font-size: 24px;
  margin-right: 4px;
  margin-left: 4px;
}

.big-product-in-basket_add-to-basket img {
  cursor: pointer;
}
