@if (isBig) { @if (isInBasket()) {
<div class="big-product-in-basket_add-to-basket">
  <span class="title-big-in-basket__add-to-basket">В корзине</span>
  <img
    (click)="addToBasket(-1)"
    src="/assets/svg/decrease-icon.svg"
    alt="decrease-icon"
    width="38px"
    class="big-decrease--in-basket__add-to-basket"
  />
  <div class="big-product-count-in-basket__add-to-basket">
    {{ productCount() }}
  </div>
  <img
    (click)="addToBasket(1)"
    src="/assets/svg/increase-icon.svg"
    alt="decrease-icon"
    width="38px"
    class="big-decrease--in-basket__add-to-basket"
  />
</div>

}@else {
<button
  (click)="addToBasket(1)"
  (click)="addToBasketForFirstTime()"
  class="big-buy-btn__product-card"
>
  <p class="big-buy-title__product-card">Купить</p>
</button>
} }@else { @if (isInBasket()) {
<div class="product-in-basket_add-to-basket">
  <img
    (click)="addToBasket(-1)"
    src="/assets/svg/decrease-icon.svg"
    alt="decrease-icon"
    width="25px"
    class="decrease--in-basket__add-to-basket"
  />
  <div class="product-count-in-basket__add-to-basket">
    {{ productCount() }}
  </div>
  <img
    (click)="addToBasket(1)"
    src="/assets/svg/increase-icon.svg"
    alt="decrease-icon"
    width="25px"
    class="decrease--in-basket__add-to-basket"
  />
</div>

}@else {
<button
  (click)="addToBasket(1)"
  (click)="addToBasketForFirstTime()"
  class="buy-btn__product-card"
>
  <div class="buy-title__product-card">Купить</div>
</button>
} }
