:host {
  border-right: var(--border);
  margin-top: -80px;
  padding-top: 80px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  position: relative;
}
.wrapper-desktop__filters {
  position: sticky;
  maxw-height: calc(100vh - 20px);
  top: 10px;
  overflow-y: auto;
}

.wrapper-mobile__filters {
  display: none;
}

@media (max-width: 660px) {
  :host {
    margin-top: -80px;
    padding-top: 80px;
  }
}

@media (max-width: 460px) {
  :host {
    border: none;
  }
  .wrapper-desktop__filters {
    display: none;
  }

  .wrapper-mobile__filters {
    display: block;
    margin: 0;
    padding: 0;

    bottom: 100px;
  }
}
