<div class="card-wrapper__product-card">
  <a [routerLink]="['/product/' + product._id]">
    <img
      [routerLink]="['/product/' + product._id]"
      [src]="'/assets/images/honey/' + product.photos[0]"
      [alt]="product.titleRu + ' photo'"
      class="iamge__product-card"
      height="173px"
      width="222px"
    />
  </a>

  <p class="title__product-card">{{ product.titleRu }}</p>
  <p class="amount__product-card">1 л</p>
  <p class="caption__product-card">
    {{ product.microCaption }}
  </p>

  <div class="price-with-btn__product-card">
    <p class="price__product-card">
      {{ product.price }}

      <span class="price_product-card">
        <img width="17px" src="/assets/svg/rubble-icon.svg" alt="rubble icon"
      /></span>
    </p>
    <app-add-to-basket [product]="product"></app-add-to-basket>
  </div>
</div>
