.card-wrapper__product-card {
  width: 224px;
  height: 326px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--light-grey-color);
  border-radius: 14px;
  border: #dedede 1px solid;
  cursor: pointer;
}

.iamge__product-card {
  border-radius: 14px;
}

.title__product-card {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 300;
}

.amount__product-card {
  color: #444;
  padding-left: 12px;
  font-weight: 200;
  font-size: 11px;
}
.price_product-card {
  margin-left: 5px;
}

.caption__product-card {
  font-weight: 100;
  padding-left: 12px;
  font-size: 11px;
  padding-right: 12px;
}

.price-with-btn__product-card {
  display: grid;
  padding-left: 12px;
  grid-template-columns: 1fr 1fr;
}

.price__product-card {
  font-size: 14px;
  margin-top: 7px;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 15px;
  width: max-content;
}

@media (max-width: 460px) {
  .card-wrapper__product-card {
    width: 100%;
    height: 370px;
  }

  .iamge__product-card {
    width: 300px;
  }

  .price-with-btn__product-card {
    grid-template-columns: 1fr 100px;
  }
}
