:host {
  display: grid;
  min-height: 900px;
  justify-content: center;
  align-items: center;
}

.wrapper__success {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.text__success {
  font-size: 64px;
  font-weight: 500;
  max-width: 800px;
}

.back__success {
  font-size: 24px;
  font-weight: 200;
  white-space: nowrap;
  color: black;
  text-decoration: none;
  width: 312px;
  height: 66px;
  border-radius: 32px;
  background: var(--yellow-color);
  border: none;
  cursor: pointer;
  display: grid;
  text-align: center;
  align-items: center;

  &:hover {
    background: var(--dark-yellow-color);
  }
}

@media (max-width: 820px) {
  .wrapper__success {
    max-width: 600px;
  }

  .text__success {
    font-size: 50px;
    font-weight: 500;
    max-width: 800px;
  }
}

@media (max-width: 460px) {
  :host {
    min-height: 100vh;
    align-items: start;
    padding-top: 100px;
  }
}
