.menu-item-list__standrt-header {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  gap: 34px;
  white-space: nowrap;
}

.link-standart__header {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.menu-item-list__standrt-header li:first-child {
  margin-right: auto;
}

.user-icon-with-info__standart-header {
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.user-info__standart-icon {
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translate(-50%, -50%);
  font-weight: 200;
}

.logout-btn {
  align-items: center;
  cursor: pointer;
  border: none;
  margin-top: 23px;
  position: absolute;
  font-size: 12px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 25px;
  width: 100px;
  top: 60px;
  height: 25px;
  background: #fde5a5;

  &:hover {
    background: var(--yellow-color);
  }
}

.router-link-active {
  font-weight: 500;
}
