<div class="container__standert-header">
  <div class="full-width__standert-header">
    <ul class="menu-item-list__standrt-header">
      <li>
        <a
          (click)="setIsLogout(false)"
          class="link-standart__header"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
        >
          <img width="100px" src="assets/svg/logo.svg" alt="logo.svg" />
        </a>
      </li>
      <li>
        <a
          (click)="setIsLogout(false)"
          class="link-standart__header"
          [routerLink]="['products']"
          routerLinkActive="router-link-active"
        >
          Товары
        </a>
      </li>
      <li>
        <a
          (click)="setIsLogout(false)"
          class="link-standart__header"
          [routerLink]="['orders']"
          routerLinkActive="router-link-active"
        >
          Заказы
        </a>
      </li>
      <li>
        <a
          (click)="setIsLogout(false)"
          class="link-standart__header"
          [routerLink]="['about']"
          routerLinkActive="router-link-active"
        >
          О нас
        </a>
      </li>
      <li (click)="setIsLogout(true)">
        <app-auth-icon [isLogout]="isLogout"></app-auth-icon>
      </li>
      <li (click)="setIsLogout(false)">
        <app-basket-icon></app-basket-icon>
      </li>
    </ul>
  </div>
</div>
